html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
sub,
sup,
center,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Roboto";
  line-height: 1;
}

#root {
  min-height: 100vh;
}

.container {
  background-color: #fd3c81e5;
  min-height: 100vh;
}

.home {
  background-image: linear-gradient(to bottom, #fd3c81e5, #fff);
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;
  max-width: 100vw;
  background-color: #f0f0f5 !important;
  margin-bottom: -1px;
}

.nav-add {
  background-color: #fd3c81e5 !important;
  border-radius: 50% !important;
  height: 80px;
  bottom: 24px;
  font-size: 20px;
}

.nav-add-icon {
  width: 40px !important;
  height: 40px !important;
  color: #fff;
}

.spending-filter {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spending-date-picker {
  color: black;
  position: relative;
  border: 1px solid #ccc;
  padding: 3px 10px;
  max-width: 90px;
  height: 30px;
  border-radius: 50px;
  margin-right: 10px;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.spending-date-picker::placeholder {
  color: #000;
}

.spending-search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.spending-search-bar {
  width: 240px;
  padding: 10px;
  border: none;
  background-color: #fd3c81e5;
  color: #ffffff;
  border-radius: 50px;
  height: 20px;
}

.spending-search-bar::placeholder {
  color: #fff;
}

.spending-list {
  margin-top: 20px;
  margin-bottom: 80px;
}
.spending-date {
  font-size: larger;
  font-weight: 600;
  margin: 15px 5px;
}

.spending-detail-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  padding: 15px 10px;
  margin: 5px;
}

.spending-icon {
  /* background-color: rgba(255, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px; */
  margin-right: 10px;
}

.spending-category {
  display: flex;
  align-items: center;
}

.spending-info-category {
  font-weight: 500;
  font-size: large;
  margin-bottom: 10px;
}

.price {
  font-size: larger;
  font-weight: 600;
  color: red;
}

.footer-nav {
  display: contents;
}

.spending-add-header {
  display: flex !important;
  justify-content: start;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}

.spending-add-title {
  margin-left: 40px;
}

.spending-add-body {
  margin-top: 24px;
  padding: 0 !important;
}

.spending-add-money {
  border: none;
  background-color: transparent;
  font-size: 40px;
  max-width: 200px;
  color: #ffe3ed;
  margin-left: 20px;
}

.spending-add-money::placeholder {
  color: #ffe3ed;
}

input:focus {
  border: none;
}

.spending-add-form_wrapper {
  margin-top: 60px;
  border-radius: 50px;
  min-height: 70vh;
  background-color: #fff;
  padding: 26px 20px;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #fd3c81e5 !important;
}

.MuiSvgIcon-root {
  /* color: #fd3c81e5 !important; */
}

.spending-add-form_label {
  font-size: 20px;
}

.spending-add-form_radio-group {
  margin-top: 10px;
}

.spending-add-form_text {
  width: 100%;
}

.MuiInputBase-root {
  border-radius: 20px !important;
}

.spending-add-form_date {
  border: 1px solid #c4c4c4 !important;
  border-radius: 20px !important;
  padding: 15px !important;
  min-width: 350px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  background-color: white;
  /* text-align: left; */
  font-size: 16px !important;
  color: #000 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spending-add-form_button {
  color: #fff !important;
  background-color: #fd3c81e5 !important;
  width: 100%;
  margin-bottom: 80px !important;
  border-radius: 20px !important;
  height: 50px;
}

.datepicker.default {
  background-color: transparent;
  font-family: inherit;
  z-index: unset;
}

.datepicker {
  position: relative !important;
}

.spending-limit-header {
  color: #fd3c81e5;
}

.spending-limit-add_icon {
  color: #fd3c81e5;
  margin-left: 20px;
  font-size: 2rem !important;
  stroke: #fd3c81e5;
  stroke-width: 2;
}

.limit-search {
  position: relative;
}

.limit-date-picker {
  color: black;
  position: absolute;
  border: 1px solid #ccc;
  padding: 3px 10px;
  max-width: 90px;
  height: 20px;
  border-radius: 50px;
  right: 10px;
  bottom: -10px;
}

.statistic-container {
  min-height: calc(100vh - 60px);
  margin-bottom: 60px;
}

.statistic-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.statistic-button-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin-bottom: 40px;
}

.statistic-button {
  padding: 16px;
  color: #fd3c81e5;
  border: 1px solid #fd3c81e5;
}

.button-monthly {
  border-radius: 25px 0 0 25px;
}

.button-yearly {
  border-radius: 0 25px 25px 0;
}

.statistic-button-active {
  background-color: #fd3c81e5;
  color: #fff;
}

.statistic-button-month {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fd3c81e5;
  border-radius: 50%;
  padding: 6px;
  color: #fd3c81e5;
  height: 40px;
  width: 40px;
}

.statistic-month {
  color: #fd3c81e5;
  text-align: center;
  background-color: #fd3c8126;
  width: 120px;
  padding: 18px;
  border: 1px solid #fd3c81e5;
  margin: auto 40px;
  border-radius: 25px;
}

.statistic-spendings {
  width: 100vw-32px;
  font-size: 20px;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.chart-container {
  padding: 0 30px;
  background-color: #fff;
  overflow: auto;
}

.chart-wrapper {
  padding: 0 20px;
}

.error-message {
  color: red;
  margin-left: 4px;
}