* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
}
:root {
  --primary-color: #fd3c81e5;
  --title-size: 25px;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Roboto";
  line-height: 1;
}

#root {
  min-height: 100vh;
}

.container {
  background-color: #fd3c81e5;
  min-height: 100vh;
}

.home-container {
  background: linear-gradient(
    182deg,
    rgba(253, 60, 129, 0.16) 9.01%,
    rgba(248, 237, 216, 0) 64.58%
  );
  padding: 10px;
  margin-bottom: 56px;
}

.border-none {
  border: none !important;
}

.home-logo {
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  border: 1px solid #fd3c81e5;
  border-radius: 50%;
  padding: 6px;
  color: #fd3c81e5;
  height: 40px;
  width: 40px;
}

.home-total-spendings {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
}

.home-total-money {
  color: #fd3c4a;
}

.MuiBottomNavigation-root {
  position: fixed;
  bottom: 0;
  max-width: 100vw;
  background-color: #f0f0f5 !important;
  margin-bottom: -1px;
}

.nav-add {
  background-color: #fd3c81e5 !important;
  border-radius: 50% !important;
  height: 80px;
  bottom: 24px;
  font-size: 20px;
}

.nav-add-icon {
  width: 40px !important;
  height: 40px !important;
  color: #fff;
}

.spending-filter {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-picker-wrapper {
  position: relative;
}

.down-icon {
  position: absolute;
  right: 20px;
  top: 12px;
}

.spending-date-picker {
  color: black;
  position: relative;
  border: 1px solid #ccc;
  padding: 3px 10px;
  max-width: 90px;
  height: 30px;
  border-radius: 50px;
  margin-right: 10px;
}

.react-datepicker__tab-loop {
  position: absolute;
}

.spending-date-picker::placeholder {
  color: #000;
}

.spending-search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
}
.spending-search-bar {
  width: 240px;
  border: none;
  background-color: #fd3c8177;
  color: #000000;
  border-radius: 50px;
}

.spending-list {
  margin-top: 20px;
  margin-bottom: 80px;
}
.spending-date {
  font-size: larger;
  font-weight: 600;
  margin: 15px 5px;
}

.spending-detail-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  padding: 15px 10px;
  margin: 5px;
  transition: all 0.1s ease;
}
.spending-detail-list:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.1);
}

.spending-icon {
  /* background-color: rgba(255, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px; */
  margin-right: 10px;
}

.spending-category {
  display: flex;
  align-items: center;
  flex: 1;
}
.spending-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  justify-content: space-evenly;
  align-self: stretch;
}
.spending-info-note {
  align-self: stretch;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spending-info-category {
  font-weight: 500;
  font-size: large;
}

.price {
  font-size: larger;
  font-weight: 600;
  color: red;
}

.footer-nav {
  display: contents;
}

.spending-add-header {
  display: flex !important;
  justify-content: start;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 24px;
}

.spending-add-title {
  margin-left: 40px;
  font-size: var(--title-size);
}

.spending-add-body {
  margin-top: 24px;
  padding: 0 !important;
}

.spending-add-money-input {
  color: white;
  font-size: 40px;
}

.spending-add-money {
  border: none;
  background-color: transparent;
  font-size: 40px;
  max-width: 160px;
  color: #ffe3ed;
  margin-left: 20px;
}

.spending-add-money::placeholder {
  color: #ffe3ed;
}

.spending-add-form_wrapper {
  margin-top: 60px;
  border-radius: 50px;
  min-height: 70vh;
  background-color: #fff;
  padding: 26px 20px;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #fd3c81e5 !important;
}

.spending-add-form_label {
  font-size: 20px;
}

.spending-add-form_radio-group {
  margin-top: 10px;
}

.spending-add-form_text {
  width: 100%;
}

.MuiInputBase-root {
  border-radius: 20px !important;
}

.spending-add-form_date {
  border: 1px solid #c4c4c4 !important;
  border-radius: 20px !important;
  padding: 15px !important;
  min-width: 350px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  background-color: white;
  /* text-align: left; */
  font-size: 16px !important;
  color: #000 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spending-add-form_button {
  color: #fff !important;
  background-color: #fd3c81e5 !important;
  width: 100%;
  margin-bottom: 80px !important;
  border-radius: 20px !important;
  height: 50px;
}

.datepicker.default {
  background-color: transparent;
  font-family: inherit;
  z-index: unset;
}

.datepicker {
  position: relative !important;
}

.spending-limit-header {
  color: #fd3c81e5;
}

.spending-limit-add_icon {
  color: #fd3c81e5;
  padding: 10px;
  font-size: 2rem !important;
  stroke: #fd3c81e5;
  stroke-width: 2;
}

.limit-search {
  position: relative;
}

.limit-date-picker {
  color: black;
  position: absolute;
  border: 1px solid #ccc;
  padding: 3px 10px;
  max-width: 90px;
  height: 20px;
  border-radius: 50px;
  right: 10px;
  bottom: -10px;
}

.statistic-container {
  min-height: calc(100vh - 60px);
  margin-bottom: 60px;
}

.statistic-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  font-size: var(--title-size);
}

.statistic-button-wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.statistic-button {
  padding: 16px;
  color: #fd3c81e5;
  border: 1px solid #fd3c81e5;
  transition: all 0.5s ease;
}

.button-monthly {
  border-radius: 25px 0 0 25px;
}

.button-yearly {
  border-radius: 0 25px 25px 0;
}

.statistic-button-active {
  background-color: #fd3c81e5;
  color: #fff;
}

.statistic-button-month {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fd3c81e5;
  border-radius: 50%;
  padding: 6px;
  color: #fd3c81e5;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease;
}
.statistic-button-month:active {
  background-color: #fd3c81e5;
  opacity: 0.5;
  color: #fff;
}

.statistic-month {
  color: #fd3c81e5;
  text-align: center;
  background-color: #fd3c8126;
  width: 200px;
  padding: 16px;
  border: 1px solid #fd3c81e5;
  margin: auto 16px;
  border-radius: 50px;
}

.home-month-picker {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  /* width: 120px; */
  padding: 18px;
  margin: auto 20px;
}

.statistic-spendings {
  width: calc(100vw - 70px);
  font-size: 20px;
  margin: 20px auto;
}
.statistic-spendings td,
.statistic-spendings th {
  padding: 4px;
}

th,
td {
  text-align: left;
  /* padding: 4px; */
}

.chart-container {
  padding: 10px 5px !important;
  background-color: #fff;
  overflow: auto;
  width: 90% !important;
}

.col1 {
  width: 25%;
  font-weight: 500;
}

.col2 {
  width: 70%;
}

.col3 {
  width: 5%;
}
.error-message {
  color: red;
  margin-left: 4px;
}

.home-report {
  margin-top: 30px;
  display: flex;
  padding: 8px 8px 8px 20px;
  background-color: #ffe2ec;
  color: #fd3c81e5;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.category-label {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  padding: 15px 20px;
  margin-left: 52px;
  background-color: #fd3c81e5;
  border-radius: 20px;
}

.category-add-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

.category-add-input {
  font-size: 22px;
  border: 1px solid #fd3c81e5;
  border-radius: 12px;
  padding: 14px;
}

.category-list {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: 700;
}

.category-icon-label {
  font-size: 22px;
  font-weight: 700;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  border-radius: 16px;
}

.category-icon-selected {
  background-color: rgba(227, 226, 226, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
  border-radius: 16px;
}

.category-add-btn {
  font-weight: 500;
  margin: 40px auto;
  padding: 18px 25px;
  color: #fff;
  font-size: 22px;
  background-color: #fd3c81e5;
  border-radius: 15px;
  width: fit-content;
  transition: all 0.3s ease;
}
.category-add-btn:active {
  background-color: #fd3c81e5;
  opacity: 0.5;
  color: #fff;
  box-shadow: 0 1px 5px rgba(82, 82, 82, 0.589);
}
.category-selected {
  border: 2px solid #fd3c81e5;
}

.MuiGrid-item {
  height: 90px;
}

.home-table {
  width: 100%;
  border-spacing: 0 8px;
}

.home-table-row {
  margin-bottom: 6px;
}
